.fleet
  width: 150px
  position: fixed
  z-index: -1

  &__inner
    // white-space: nowrap

  &__unit
    text-align: right
    text-shadow: -1px 0px 1px white
    font-size: 10px
    vertical-align: top
    margin-right: 4px
    position: relative

  &__badge
    display: inline-block
    background-color: white
    min-width: 10px
    height: 10px
    text-align: center
    line-height: 10px
    border-radius: 50%
    bottom: -6px
    left: 10px
    position: absolute
    box-shadow: 0px 0px 0px 1px black
    z-index: 1
