$multiplier: 1

.race,
.unit,
.tech,
.cards,
.planet
  display: inline-block
  height: 16px
  background-image: url(../images/units-16.png)

  &.sm
    height: 32px
    background-image: url(../images/units-32.png)

  &.md
    height: 48px
    background-image: url(../images/units-48.png)

  &.lg
    height: 64px
    background-image: url(../images/units-64.png)

.planet

  &.sm
    width: 60px
    height: 24px
    background-position-y: 60px
    background-position-x: -2px


.unit
  background-position-y: -32px

.ground-forces
  width: 14px
  background-position-x: -61px

.pds
  width: 18px
  background-position-x: -75px

.fighter
  width: 18px
  background-position-x: -25px

.destroyer
  width: 18px
  background-position-x: -43px

.cruiser
  width: 18px
  background-position-x: -132px

.carrier
  width: 14px
  background-position-x: -119px

.dreadnought
  width: 25px
  background-position-x: -0px

.space-dock
  width: 25px
  background-position-x: -152px

.war-sun
  width: 25px
  background-position-x: -94px

.race
  width: 32px

.hacan
  background-position-x: 0px

.xxcha
  background-position-x: -32px

.mentak
  background-position-x: -64px

.jolnar
  background-position-x: -96px

.sardakk
  background-position-x: -128px

.naalu
  background-position-x: -288px

.yssaril
  background-position-x: -224px

.l1z1x
  background-position-x: -192px

.sol
  background-position-x: -160px

.letnev
  background-position-x: -256px

.tech
  width: 16px
  background-position-y: -32px

.biologic
  background-position-x: -32px

.military
  background-position-x: -96px

.generic
  background-position-x: -32px

.propulsion
  background-position-x: -0px

.cards
  width: 28px
  background-position-y: -96px

  &__biologic-tech
    background-position-x: -64px

  &__military-tech
    background-position-x: -96px

  &__generic-tech
    background-position-x: -32px

  &__propulsion-tech
    background-position-x: -0px

  &__action
    background-position-x: -128px

  &__political
    background-position-x: -160px
